.AboutFram {
  display: flex;
}

.AboutFram > p {
  width: 50%;
}

.buttons {
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 50px;
  min-width: 400px;
}

.aboutcontainer {
  height: 150vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(100, 136, 87, 0.802)),
    url(../assets/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 120vh, 0 100%);
  overflow-x: hidden;
}

/* Responsive styles */

@media (max-width: 768px) {
  .AboutFram {
    flex-direction: column;
  }

  .AboutFram > p {
    width: 100%;
  }

  .buttons {
    width: 100%;
    min-width: auto;
  }

  .aboutcontainer {
    height: auto;
    clip-path: none;
  }
}

@media (max-width: 480px) {
  .buttons {
    height: 150px;
  }
}