* {
    font-family: sans-serif;
  }
  
  .Form {
    background: rgb(212, 210, 210);
    background: linear-gradient(90deg, rgba(212, 210, 210, 1) 0%, rgba(47, 105, 4, 1) 23%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }
  
  .input {
    border-radius: 15px;
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: -10px;
  }
  
  .header {
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 2px #000000;
  }
  
  .item {
    font-weight: 700;
    color: white;
    overflow: hidden;
  }
  
  .question {
    font-weight: 700;
    color: white;
  }
  
  .others {
    margin-top: 20px;
  }
  
  .input1 {
    border-radius: 15px;
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: -10px;
    overflow: hidden;
  }
  
  .item1 {
    margin-bottom: 100px;
  }
  
  .item input {
    margin-top: 10px;
  }
  
  .radioopt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Responsive styles */
  
  @media (max-width: 768px) {
    .input,
    .input1 {
      width: 100%;
    }
  
    .item1 {
      margin-bottom: 50px;
    }
  }