.footer-input {
    width: 200px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  li {
    text-decoration: none;
    list-style: none;
  }
  
  /* Responsive styles */
  
  @media (max-width: 768px) {
    .footer-input {
      width: 100%;
    }
  }